LICENSE
LICENCE
README.md

.gitignore
.gitattributes

.env
.env.example

.vscode/

target/

yt-dlp-cache/
yt-dlp

cookies

docker-compose.yml
docker-compose.yaml
Dockerfile

config.toml
config.example.toml
