# Used by `telegram_bot_api` service in `default` and `dev` profiles.
# Required only when running the bot stack.
# Telegram API ID. Take it from https://my.telegram.org/apps
TELEGRAM_API_ID=
# Used by `telegram_bot_api` service in `default` and `dev` profiles.
# Required only when running the bot stack.
# Telegram API hash. Take it from https://my.telegram.org/apps
TELEGRAM_API_HASH=

# Used by `bot` service in `default` profile.
# Required only when running the bot service.
# RAM memory limit for the bot in container.
# Most of these options take a positive integer, followed by a suffix of b, k, m, g, to indicate bytes, kilobytes, megabytes, or gigabytes.
BOT_MEM_LIMIT=

# Used by `postgres` service in `default`, `migration`, and `dev` profiles.
# Required whenever the local Postgres container is used.
POSTGRES_PASSWORD=
# Used by `postgres` service in `default`, `migration`, and `dev` profiles.
# Optional.
# Default: `$USER`
POSTGRES_USER=
# Used by `postgres` service in `default`, `migration`, and `dev` profiles.
# Optional.
# Default: `$USER`
POSTGRES_DB=api
# Used by `postgres` service in `default`, `migration`, and `dev` profiles.
# Optional.
# Default: `5432`
POSTGRES_PORT=5432

# Used by `yt_toolkit_api` service in `default` and `dev` profiles.
# Optional.
# Default: `8080`
YT_TOOLKIT_PORT=8080

# Used by `yt_pot_provider_api` service in `downloader` profile.
# Optional.
# Default: `4416`
YT_POT_PROVIDER_PORT=4416

# Used by `downloader` service in `downloader` profile.
# Optional.
# Downloader bind IP on host.
# Use `127.0.0.1` to expose only locally.
# Use `0.0.0.0` to expose publicly on all interfaces.
# Default: `127.0.0.1`
DOWNLOADER_BIND_IP=127.0.0.1

# Used by `downloader` service in `downloader` profile.
# Optional.
# Default: `50051`
DOWNLOADER_PORT=50051

# Used by `telegram_bot_api` service in `default` and `dev` profiles.
# Optional.
# Default: `8081`
TELEGRAM_BOT_API_PORT=8081

# Used by `migration` service in `migration` profile.
# Required only when running migrations.
# Database connection string for migrations.
# You can use "127.0.0.1" if the database is running on the same network.
# If the database is running in docker, you can use the database container name as the host: "ytdl_tg_bot.postgres"
DATABASE_URL=postgres://POSTGRES_USER:POSTGRES_PASSWORD@ytdl_tg_bot.postgres/POSTGRES_DB
